#l56:hover{
    opacity: 100%;
}
#temph1{
    margin-top:100px;
    text-align: center;
    color:blanchedalmond;
}
#l56{
    
    width: 200px;
    height: 200px;    
    margin-top: 50px;
    margin-left: 650px;
    opacity: 50%;
    font-size: 100px;

}
