.hclass{
    text-align: center; 
    padding-bottom: 20px;  
    font-size: 50px;    
    }

.r4{
    margin:10%;
    color: aqua;
    text-align: center;
    padding: 10px;   
     
    

    
    
}
#centerbtn{
    font-size: 30px;
    color:black;
    text-align: center;
    margin: center;
    text-decoration: none;
    border-style:groove;
    border-radius: 10%;
    border-color:darkslategray;
    background-color: rgb(245,245,245,0.5);
    padding: 30px;
}
#centerbtn:hover{
    background-color:rgb(245,245,245,1);
}